@font-face {
    font-family: "Cookie";
    src: url(../fonts/Cookie-Regular.ttf);
}

@font-face {
    font-family: "Raleway";
    src: url(../fonts/static/Raleway-Regular.ttf);
}

body {
    background-color: #2a3b40;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;
}

.center {
    text-align: center;
}

.container {
    width: 1320px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.jsc {
    justify-content: space-between;
}

.col_50 {
    width: 50%;
}

.col_33 {
    width: 33%;
}

.col_100 {
    width: 100%;
}

.col_80 {
    width: 80%;
}

ul li {
    list-style: none;

}

.hd_text {
    margin: 20px 0 0 100px;

}

.hd_text h2 {
    font-family: "Raleway";
    color: #fff;
}

.list ul li {
    display: inline-block;
    font-family: "Raleway";
    padding: 50px;
}

.hd_text h2 {
    position: fixed;
}

.list ul li a {
    position: fixed;
}

.list {
    margin: 10px 90px 0 0px;
}

/* ************************************** */
header {
    background: url(../img/back1.png) no-repeat center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main_box {
    margin: 40px 0 0 0;
}

.pd {
    padding: 100px 0;
}

.main_text {
    padding: 100px 0;
    width: 50%;
    margin: 0 auto;
    z-index: -10;
    text-align: center;
    opacity: .80;
    background-color: whitesmoke;
}

.main_text h2 {
    font-family: "Cookie";
    font-size: 35px;
    padding: 20px 0 0 0;
}

.main_text h3 {
    font-family: "Raleway";
    color: #ad6c12;
    font-size: 40px;
}

.main_text button {
    font-size: 20px;
    border: none;
    outline: none;
    font-family: "Raleway";
    background-color: #ffffff;
    width: 40%;
    margin: 0 auto;
}

/* *********************sec_1********************************* */
.sec_text {
    text-align: justify;
    width: 80%;
    margin: 21% auto;
    color: #fff;
}

.sec_text h3 {
    font-size: 25px;
    font-weight: bolder;
    font-family: "Raleway";
    padding: 0 0 25px 0;
}

.sec_text p {
    line-height: 30px;
    font-size: 20px;
    font-family: "Raleway";
}

.sec_img {
    width: 75%;
    margin: 50px 0 50px 40px;
}

.sec_img img {
    width: 100%;
    /* margin: 30px auto; */
}

/* **************sec_2 *************** */
.sec_2 {
    background-image: url(../img/back2.png);

}

.sec_2_box {
    padding: 50px 0;
    display: inline-block;
    width: 90%;
}

.wrp {
    width: 80%;
    margin: auto;
}

.box_text h2 {
    font-family: "Raleway";
    margin-top: 20px;
}

.box_img {
    display: inline-block;
}

.box_text p {
    font-family: "Raleway";
    padding: 30px 0;
    width: 95.2%;
    color: #2a3b40;
    line-height: 25px;
    text-align: inherit;
    word-spacing: 1px;
}

/* *******************************sec_3********************* */
.sec_3 {
    background-image: url(../img/back3.png);
    background-repeat: no-repeat;


}

.box_heade_text {
    text-align: center;
    padding: 40px 0 0 0;
}

.box_heade_text h2 {
    color: #304751;
    font-size: 60px;
    font-weight: 400;
    font-family: "Cookie";
}

.box_heade_text h3 {
    font-size: 40px;
    text-transform: uppercase;
    color: #ad6c12;
    font-weight: 600;
    font-family: "Raleway";
}

.cover {
    background-color: #fff;
    opacity: .820;
    margin: 80px auto;
    width: 83.1%;
    height: max-content;
}

.main_box {
    width: 100%;
}

.c_box_4 {
    width: 25%;
}

.c_box_4_text h5 {

    font-size: 18px;
    text-transform: uppercase;
    color: #304751;
    font-family: "Raleway";
    margin-top: 30px;
    padding-top: 75px;
    text-align: center;

}

.c_box_4_text p {
    color: #304751;
    font-size: 17px;
    font-family: "Raleway";
    text-align: justify;
    letter-spacing: 2px;
    width: 80%;
    margin: 0 auto;
}

/* ---------------sec_4-------------------------------- */
.sec_4 {
    opacity: 0.800;
    background-color: #ffffff;
}

.sec_4_text_cover {
    text-align: center;
    font-family: "Raleway";
}

.sec_4_text {
    padding: 30px 0 0 0;
}

.sec_4_text h3 {
    padding: 30px 0 30px 0;
    font-size: 35px;

}

.sec_4_text p {
    width: 50%;
    line-height: 30px;
    margin: 0 auto;
}

.sec_4_img {
    padding: 50px 0 50px 0;
}

.sec_4_footer p {
    word-spacing: 30px;
}

/* ---------------------------------------------- */